/* Ylätunniste */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

body {
  background-color: #fdf5ec;
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 20px;
}

/*navigointi*/

/* Linkeistä boksit */
.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  background: #e0e0e0;
  border-radius: 6px;
  transition: 0.3s;
}

/* Hover-efekti */
.navbar a:hover {
  background: #c0c0c0;
}

/* Aktiivinen sivu */
.navbar a.valittu {
  background: #8e8e8e;
  color: #fff;
  font-weight: bold;
}

/* Fontti koko sivustolle */
.html {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

/*logokuva*/

.hero-kuva {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

/* Palvelut */
.services {
  padding: 50px 20px;
  text-align: center;
}

.services h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(a2, 1fr);
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.service {
  background: #A7201C;
  padding: 20px 20px;
  border-radius: 8px;
  color:white;
}

/*etusivu ota yhteyttä painike*/
.painikeyt {
  text-align: center;
  margin: 30px 0;
}

.painikeyt a {
 display: inline-block;
 background-color: #A7201C; /* punainen tausta */
 color: white;              /* valkoinen teksti */
 padding: 12px 24px;
 border-radius: 8px;
 text-decoration: none;     /* poistaa alleviivauksen */
 font-weight: bold;
 font-size: 18px;
 transition: background-color 0.3s ease; 
}



/* Yhteystiedot */
label {
  display: block;
  margin-top: 5px;
  text-align: left;
}

button {
 font-family: "Libre Baskerville", serif;
  padding: 10px 20px;
}

/*tekstiosio etusivu*/
.hero {
text-align: center;
}

footer {
      text-align: center;
      padding: 20px;
      background-color: #8e8e8e;
      font-size: 0.9em;
    }

/*yhteystiedot sivu*/
.sijainti {
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.mihinyhteyttä {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #A7201C;
  height: 150px;
  font-size: 22px;
}

.mihinyhteyttä h2{
  color: #eee
}

.yhteystiedot {
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  gap: 20px; /* väli tekstin ja kuvan väliin */
  margin: 0 auto; /* keskitys */
  justify-content: center; /* keskitys */
  max-width: 350px;
  text-align: left;
    }

.kartta {
      max-width: 450px;
    }

iframe {
      width: 100%;
      height: 300px;
      border: 0;
      border-radius: 8px;
    }

.kuva {
      max-width: 200px;
      border-radius: 8px;
      margin-left: 20px;
      margin-right: 50px;
      gap: 20px;
    }

.yhteydenottolomake {
    font-size: 18px;
    background-color: #A7201C; /* punainen tausta */
    color: white;              /* valkoinen teksti */
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 100px;
    border-radius: 10px;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    }

.yhteydenottolomake {
  margin-top: 200px;
  margin-bottom: 100px;
}

    /*referenssit*/
    
    .refotsikko{
    text-align: center;
    }
    
    main {
      max-width: 800px;
      margin: 30px auto;
      padding: 20px;
      background-color: #fdf5ec; 
    }
    h2 {
      color: #000000;
    }
    .reference {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      }

