/* Ylätunniste */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border: 2px solid red;
}

/* Palvelut */
.services {
  padding: 50px 20px;
  text-align: center;
}

.services h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.service {
  background: #dceaf7;
  padding: 40px;
  border-radius: 8px;
}